* {
    margin: 0;
    padding: 0;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
}

a {
    color: #001233;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

h1 {
    color: #073B3A;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

h2 {
    color: #C1FF72;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h3 {
    color: #000;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

p {
    text-align: center;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

img {
    width: 92px;
    height: 92px;
}

/* CABECERA */

.titulo {
    width: 503px;
}


.cabecera {
    padding: 2rem 5rem;
    background-color: #C1FF72;
}

/* HERO */


.boton p {
    padding: 1rem;
    border-radius: 10px;
    color: #C1FF72;
    background-color: #073B3A;
    border: 1px solid #073B3A;
    transition: .2s;
}

.boton p:hover {
    color: #073B3A;
    background-color: transparent;
}

.hero {
    height: 700px;
    background-color: #C1FF72;
}

.moviles {
    margin-bottom: 2rem;
}

.moviles img {
    width: 180px;
    height: 300px;
}

.moviles img:nth-child(1) {
    position: absolute;
    transform: translate(110px, -50px);
}

/* PREMIUM */

.premium {
    height: 250px;
    background: #073B3A;
}

.premium h1 {
    padding: 5px;
    color: #C1FF72;
}

.premium h3 {
    color: #FFF;
}

/* SERVICIOS */

.servicios {
    height: 100%;
    background: #001233;
}

.contenedor {
    margin: 2rem;
    width: 400px;
    height: 350px;
    border: 1px solid #000;
    background: rgba(255, 255, 255, 0.50);
    gap: 2rem;
}

.contenedor h2 {
    color: #001233;
}

.contenedor h3 {
    width: 180px;
}

.servicios .boton p {
    padding: 1rem;
    border-radius: 10px;
    color: #FFF;
    background: #001233;
    border: 1px solid #001233;
    transition: .2s;
}

/* EQUIPO */
.equipo{
    height: 100%;
    background: #5DA6BF;
}
.equipo div{
    padding: 2rem;
}
.equipo div h1{
    padding: 5px;
    color: #001233;
}
.equipo div p{
    font-size: 24px;
}
.equipo div img{
    width: 200px;
    height: 200px;
    border-radius: 2rem;
}